.delivery {
  padding: 60px 60px;
  background-color: var(--lightgray);
  display: flex;
  border-radius: 10px;
  margin-bottom: 60px;
}
.delivery-img {
  width: 400px;
  height: 200px;
}
.delivery-description {
  background-color: white;
  padding: 40px;
  font-size: 2rem;
}
.delivery-club {
  background-color: rgb(76, 162, 59);
  width: 100%;
  height: 200px;
}
